name: Deploy DEV Worker

on:
  push:
    branches:
      - dev

  workflow_dispatch:

jobs:
# Reuse the deploy job from deploy.yml
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      environment: "dev"